
@{
    ViewBag.Title = "UserSignup";
}

<h2>UserSignup</h2>

<div class="container">
    <h2>SignUp</h2>

    <div class="form-group">
        <label for="email">First Name:</label>
        <input type="email" class="form-control" id="fName" placeholder="First Name" name="email">
    </div>
    <div class="form-group">
        <label for="pwd">Last Name:</label>
        <input type="password" class="form-control" id="lName" placeholder="Enter password" name="pwd">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="pwd">
    </div>
    <div class="form-group">
        <label for="pwd">Gender:</label>
        <input type="password" class="form-control" id="gender" placeholder="Enter password" name="pwd">
    </div>
    <div class="form-group">
        <label for="pwd">Pronoun:</label>
        <input type="password" class="form-control" id="pronoun" placeholder="Enter password" name="pwd">
    </div>
    <div class="form-group">
        <label for="pwd">Age:</label>
        <input type="password" class="form-control" id="age" placeholder="Enter password" name="pwd">
    </div>
    <div class="form-group">
        <label for="pwd">User Role:</label>
        <input type="password" class="form-control" id="role" placeholder="Enter password" name="pwd">
    </div>
    <div class="form-group">
        <label for="pwd">Color:</label>
        <input type="password" class="form-control" id="color" placeholder="Enter password" name="pwd">
    </div>


    <div class="checkbox">
        <label><input type="checkbox" name="remember"> Checkbox sample</label>
    </div>
    <button id="submit" class="btn btn-default">Submit</button>

</div>
<script>
    //DO NOT KEEP THIS HERE, ADD TO BUNDLE
    document.getElementById("submit").addEventListener("click", function () {
        var firstName = document.getElementById("fName").value;
        var lastName = document.getElementById("lName").value;
        var email = document.getElementById("email").value;
        var gender = document.getElementById("gender").value;

        var pronoun = document.getElementById("pronoun").value;
        var age = document.getElementById("age").value;
        var role = document.getElementById("role").value;
        var color = document.getElementById("color").value;
        var pack = { firstName, lastName, email, gender, pronoun, age, role, color };
       
        fetch('/user/AddUserToDatabase?firstName=' + firstName + '&lastName=' + lastName + '&email=' + email + '&gender=' + gender + '&pronoun=' + pronoun + '&age=' + age + '&role=' + role + '&color=' + color, {
            method: 'post',
          
        })
            .then(function (response) {
                if (response.status !== 200) {
                    console.log('fetch returned not ok' + response.status);
                }

                response.json().then(function (data) {
                    console.log('fetch returned ok');
                    console.log(data);
                });
            })
            .catch(function (err) {
                console.log(`error: ${err}`);
            });
    });
 
    
    
</script>