@model ACE_Web_Based_Learning_System.Models.Users
@{
    ViewBag.Title = "UserSettings";
}
<style>
    .panel-heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: bold;
    }
</style>
<div class="container">


    <div class="page-header">
        <h1>User Settings</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><div>First Name</div> <button id="fNameChange" class="btn btn-xs btn-default"><span class="material-icons">mode</span></button></div>
        <div class="panel-body">
            @Model.FirstName
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><div>Last Name</div> <button id="lNameChange" class="btn btn-xs btn-default"><span class="material-icons">mode</span></button></div>
        <div class="panel-body">
            @Model.LastName
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><div>Email</div> <button id="emailChange" class=" btn btn-xs btn-default"><span class="material-icons">mode</span></button></div>
        <div class="panel-body">
            @Model.Email
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><div>Password</div> <button id="passChange" class=" btn btn-xs btn-default"><span class="material-icons">mode</span></button> </div>
        <div class="panel-body">
            *************************************
        </div>
    </div>



</div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    //DO NOT KEEP THIS HERE, ADD TO BUNDLE
    document.getElementById("fNameChange").addEventListener("click", function () {

        Swal.mixin({
            input: 'text',
            confirmButtonText: 'Next &rarr;',
            showCancelButton: true,
            progressSteps: ['1', '2']
        }).queue([
            {
                title: 'New Name',
                text: 'Enter your desired name'
            },
            {
                title: 'Password',
                text: 'Enter your password'
            }
            
        ]).then((result) => {
            
                if (result.value[1] != "@Model.Password") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Incorrect Password',
                        showConfirmButton: true,

                    });
                }
                else {
                    Swal.fire({
                        icon: 'success',
                        title: 'Successful Change',
                        showConfirmButton: true,

                    });
                }
            
            
        })
    });
</script>
