
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ACE - Learning Management System";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<style>
    body {
        font-family: "Lato", sans-serif;
    }

    h1 {
        font-size: 75px;
    }

    p {
        color: black;
    }

    a, a:hover, a:focus {
        color: #f44336;
    }

    .main-head {
        height: 150px;
        background: #FFF;
    }

    .sidenav {
        height: 100%;
        background-color: #343d52;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .main {
        padding: 0px 10px;
    }

    @@media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
    }

    @@media screen and (max-width: 450px) {
        .login-form {
            margin-top: 10%;
        }

        .register-form {
            margin-top: 10%;
        }
    }

    @@media screen and (min-width: 768px) {
        .main {
            margin-left: 40%;
        }

        .sidenav {
            width: 40%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
        }

        .login-form {
            margin-top: 80%;
        }

        .register-form {
            margin-top: 20%;
        }
    }

    .login-main-text {
        margin-top: 20%;
        padding: 60px;
        color: #fff;
    }

    .login-main-text h2 {
        font-weight: 300;
    }
</style>

<div class="sidenav">
    <!-- Login Text -->
    <div class="login-main-text">
        <h1>ACE</h1>
        <h3>Learning Management System</h3>
        <p style="color:white">Login or register from here to access.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <!-- Email Input -->
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="emailInput">
                <label style="color: #343d52;" class="mdl-textfield__label" for="emailInput">Email</label>
                <span class="mdl-textfield__error">Must not be empty!</span>
            </div>
            <!-- Password Input -->
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" id="passwordInput">
                <label style="color: #343d52;" class="mdl-textfield__label" for="passwordInput">Password</label>
                <span class="mdl-textfield__error">Must not be empty!</span>
            </div>
            <!-- Submission Button -->
            <button id="submit" style="background-color: #f44336;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Login</button>
            <!-- Forgotten Password -->
            <a href="EmailConfirmation.html">Forgot Password?</a>
            <br><br>
            <!-- Account Signup -->
            <p>Don't have an account? Sign up <a href="SignUp.html">here</a>.</p>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    //DO NOT KEEP THIS HERE, ADD TO BUNDLE
    document.getElementById("submit").addEventListener("click", function () {
        var email = document.getElementById("emailInput").value;
        var password = document.getElementById("passwordInput").value;

        Swal.showLoading()

        fetch('/User/CheckIfUser?email=' + email + '&password=' + password, {
            method: 'post',

        })
            .then(function (response) {
                if (response.status !== 200) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Unsuccessful Login',
                        showConfirmButton: true,
                    })
                }

                response.json().then(function (data) {
                    if (data.Message == null) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Successful Login',
                            showConfirmButton: false,
                            timer: 1500
                        }).then((result) => {
                            window.location.href = data;
                        })
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Unsuccessful Login',
                            showConfirmButton: true,
                        })
                    }
                });
            })
            .catch(function (err) {
                Swal.fire({
                    icon: 'error',
                    title: 'Unsuccessful Login',
                    showConfirmButton: true,
                })
            });
    });
</script>